@model SmartGym.Models.Health

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Health</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BMI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BMI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
