@model IEnumerable<SmartGym.Models.Activity>

@{
    ViewBag.Title = "Index";
}

    <div class="container">
        <h2>Activity Manager</h2>

        @*<p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>*@
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.include)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.include)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.code }, htmlAttributes: new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.code }, htmlAttributes: new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new { id = item.code }, htmlAttributes: new { @class = "btn btn-danger" })
            </td>
        </tr>
            }

        </table>

    </div>