@model IEnumerable<SmartGym.Models.Session>

@{
    ViewBag.Title = "MemberIndex";
}

    <div class="container">
        <h4>Member healthh Detailed Report</h4>

        <div>
            @Html.ActionLink("Export To Word", "Reports", new { ReportType = "Word" }) |
            @Html.ActionLink("Export To Excel", "Reports", new { ReportType = "Excel" }) |
            @Html.ActionLink("Export To PDF", "Reports", new { ReportType = "PDF" })
            <hr />
            <div class="row">
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="text" class="form-control" />
                        <button class=" btn btn-primary">Search Products</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Member.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.sessionDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.satisfaction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.usage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Activity.description)
                        </th>
                    </tr>
                </thead>
                <tbody>
                        @foreach(var health in Model)
                        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sessionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.satisfaction)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Activity.description)
                        </td>
                    </tr>
                        }
                </tbody>
            </table>
        </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.memId }) |
            @Html.ActionLink("Back to List", "Index")*@
        </p>

    </div>