@model IEnumerable<SmartGym.Models.Session>

@{
    ViewBag.Title = "MemberIndex";
}

    <div class="container">
        <h4>Member healthh Detailed Report</h4>

        <div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <label>Start Date:</label>
                    <input type="date" class="form-control" name="startDate" id="startDate" min="2020-01-12" max="2020-12-01"/>
                </div>
                <div class="col-md-4">
                    <label>End Date:</label>
                    <input type="date" class="form-control" name="endDate" id="endDate" min="2020-01-12" max="2020-12-01"/>
                </div>
                <button class="btn btn-primary" >Filter </button>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Member.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.sessionDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.satisfaction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.usage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Activity.description)
                        </th>
                    </tr>
                </thead>
                <tbody>
                        @foreach(var session in Model)
                        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => session.Member.memId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.sessionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.satisfaction)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.usage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.Activity.description)
                        </td>
                    </tr>
                        }
                </tbody>
            </table>
        </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.memId }) |
            @Html.ActionLink("Back to List", "Index")*@
        </p>

    </div>